* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
    color: #e4dac9;
}

.card_image {
    width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    border: solid 2px #66502b;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 10px 10px 20px -16px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 10px 10px 20px -16px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 10px 10px 20px -16px rgba(0, 0, 0, 0.71);
    background-color: #8B6B38;
}

.description {
    font-style: italic;
}

.info {
    border: solid 2px #524023;
    padding: 20px;
}

ul {
    margin: 20px 0 20px 0;
}

ul li {
    list-style: none;
}

h1 {
    color: #3A250C;
    font-size: 5rem;
}

h2 {
    display: inline;
    font-size: .9rem;
    font-weight: 800;
}